* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
}

.Big-Box {
    background: #000000;
    opacity: 0.7;
    border-radius: 27px;
    padding: 30px;
    width: 95%;
    max-width: 450px;
}

.city-input {
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 25px;
    font-size: 15px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc(100% - 70px);
}

.search-button {
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;
}

.search-img {
    width: 20px;
}

.medium-box {
    margin-top: 30px;
}

.city {
    color: #ffffff;
    font-size: 25px;
    font-weight: 300;
}

.temp {
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
}

.small-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.text-previsao {
    color: #ffffff;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade {
    color: #ffffff;
    margin-top: 20px;
}